body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  
  h2 {
    text-align: center;
    color: #2d2d2d;
    margin-top: 150px;
  }
  
  .calculator {
    background-color: rgb(4, 4, 4);
    text-align: center;
    width: 230px;
    margin: auto;
    height: 360px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(4, 3, 3, 0.2);
  }
  
  .display {
    margin-top: 15px;
  }
  
  .display input {
    font-size: 19px;
    border-radius: 9px;
    width: 210px;
    height: 45px;
    text-align: right;
    border: 1px solid #727272;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    background-color: rgb(18, 17, 17);
    color: white;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 15px;
  }
  
  button {
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 65%;
    cursor: pointer;
    background-color: #5d5b5b;
    color: white;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #504848;
  }
  
  button:active {
    background-color: #4c4444;
  }
  
  .btn-red {
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .btn-operator {
    background-color: #edac1d;
    color: white;
    font-weight: bold;
  }
  
  .btn-equals {
    background-color: #edac1d;
    color: white;
    font-weight: bolder;
  }
  
  .btn-equals:hover {
    background-color: #45a049;
  }